.ground-user {
	position: relative;
	margin: auto;
}

.ground-user .items-login {
	display: block;
	height: 40px;
	width: 110px;
	line-height: 40px;
	border-radius: 4px;
	background-color: #1890ff;
	color: #ffffff;
	font-size: 16px;
	text-transform: capitalize;
}

.ground-user .profile-login {
	position: relative;
}

/* -----------------login user--------- */
.ground-user .profile-login .login i {
	line-height: 23px;
	display: inline-block;
	position: relative;
	font-size: 25px;
	border-radius: 50%;
	color: #302e4d;
	right: 5px;
	background-color: #20232a;
}
.ground-user .profile-login .login .show-login {
	position: fixed;
	width: 100%;
	height: 75px;
	background: #fdf9ff;
	left: 0;
	top: -300px;
	transition: all 0.3s ease-in-out;
	padding: 10px;
	grid-template-columns: 10% 45% 45%;
	grid-gap: 5px;
	display: grid;
	text-align: center;
	justify-items: center;
	align-items: center;
	z-index: 15;
}

.ground-user .profile-login .login .show-login a.item-login {
	display: block;
	width: 120px;
	height: 35px;
	line-height: 35px;
	border-radius: 4px;
	background-color: rgb(24, 158, 255);
	color: #fdf9ff;
	font-size: 16px;
}

/* -----------------login user--------- */
.ground-user .profile-login .login i {
	line-height: 23px;
	display: inline-block;
	position: relative;
	font-size: 25px;
	border-radius: 50%;
	color: #302e4d;
	right: 5px;
	background-color: #20232a;
}


/* -----------------Responsive--------- */
@media screen and (max-width: 1000px) {
	.ground-user .items-login {
		display: none;
	}
	.ground-user .profile-login .login .show-login.open {
		top: 0;
	}
	.ground-user {
		grid-column: 1/2;
		grid-row: 1/3;
	}

	.show-login.open i.fa.fa-long-arrow-left.btn-close-login {
		background: #ffff;
	}

	.ground-user .profile-login .login i.btn-show-login {
		display: block !important;
		color: #ffff;
	}
}
