.layout {
    width: 100%;
    height: 100vh;
}

.overall_container, .container {
    width: 100%;
    height: 100%;
    flex: 1
}


.overall_container {
    display: flex;
}

// .container {
//     position: relative;
// }

