.group-list-Products {
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0 1px 6px #efe9f2;
          box-shadow: 0 1px 6px #efe9f2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #ffff;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}

.group-list-Products h3 {
  color: #4a5568;
  font-size: 1.2em;
  font-weight: 550;
  padding-top: 20px;
  text-align: left;
  padding-left: 15px;
}

.group-list-Products .list-Products {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-radius: 4px;
}

.list-Products .item-products-list {
  position: relative;
  padding: 10px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #e8dfec;
  border-radius: 6px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.list-Products .item-products-list a {
  position: relative;
  z-index: 10;
  display: block;
}

.list-Products .item-products-list:hover {
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  border: 1px solid #F7F8F9;
}

.list-Products .item-products-list:hover .name-products-list p {
  color: #189eff;
}

.list-Products .item-products-list .ig-products-list {
  position: relative;
  display: block;
  max-width: 250px;
  margin: 10px auto 10px auto;
  height: 230px;
}

.list-Products .item-products-list .name-products-list {
  padding-top: 5px;
  position: relative;
  display: block;
  margin: auto;
}

.list-Products .item-products-list .name-products-list p {
  font-size: 1.1em;
  text-overflow: ellipsis;
  margin: 0;
  overflow: hidden;
  color: #000;
  font-weight: 500;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-align: center;
  text-transform: capitalize;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.list-Products .item-products-list .ig-products-list img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.list-Products .item-products-list .price-products-list {
  display: block;
}

.item-products-list .price-products-list .group-price-sale {
  position: relative;
  display: block;
}

.item-products-list .price-products-list .group-price-sale span {
  text-decoration: line-through;
  color: #34324977;
  font-size: 1.1em;
}

.list-Products .item-products-list .price-products-list .group-price span {
  color: #ec1839;
  display: block;
  text-align: center;
  font-weight: 650;
  line-height: 35px;
  font-size: 1.2em;
}

/* -------------------------- */
@media screen and (max-width: 1250px) {
  .group-list-Products .list-Products {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .group-list-Products .list-Products {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 1200px) {
  .group-list-Products .list-Products {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 888px) {
  .list-Products .item-products-list {
    padding: 5px;
  }
}

@media screen and (max-width: 780px) {
  .group-list-Products h3 {
    font-size: 1em;
  }
  .group-list-Products .list-Products {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .list-Products .item-products-list .ig-products-list {
    height: 215px;
    margin: 0;
  }
  .group-list-Products .list-Products {
    grid-gap: 5px;
  }
  .list-Products .item-products-list .price-products-list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .list-Products .item-products-list {
    padding: 5px;
    border-radius: 4px;
  }
  .list-Products .item-products-list .name-products-list p {
    font-size: 1em;
  }
  .list-Products .item-products-list .price-products-list .group-price span {
    font-size: 1em;
  }
  .list-Products .item-products-list .ig-products-list {
    height: 160px;
  }
  .item-products-list .price-products-list .group-price-sale span {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 350px) {
  .list-Products .item-products-list .ig-products-list {
    height: 120px;
  }
}
/*# sourceMappingURL=LatestProduct.css.map */